@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap");
@import url("reset.css");
.button-options__link img, .header__logo img, .card__arrow img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.new .card__big-img img, .trending .card__big-img img, .card__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.title {
  font-weight: 700;
  font-size: clamp(1.5rem, 1.286rem + 1.07vw, 2.375rem);
  line-height: 1.5;
  color: #fff;
}

.text {
  font-weight: 500;
  line-height: 1.5;
  color: #999;
}

.button-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  gap: 1rem;
  background-color: #0f0f0f;
  border: 0.0625rem solid #1f1f1f;
  border-radius: 0.75rem;
  padding: 1rem;
}

@media (max-width: 1155.98px) {
  .button-arrow-none {
    display: none !important;
  }
}

.arrow__wrapper {
  background-color: #1a1a1a;
  border: 0.0625rem solid #1f1f1f;
  border-radius: 0.5rem;
  padding: 0.875rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.arrow__wrapper:first-child {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
@media (any-hover: hover) {
  .arrow__wrapper:hover {
    border: 0.0625rem solid #fff;
  }
}
.arrow__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.1875rem;
}
.arrow__item {
  border-radius: 6.25rem;
  width: 1rem;
  height: 0.25rem;
  background-color: #333;
}
.arrow__item--active {
  border-radius: 6.25rem;
  width: 1.4375rem;
  height: 0.25rem;
  background-color: #e50000;
}

.movies__wrapper section:not(:last-child) {
  -webkit-margin-after: 6.25rem;
          margin-block-end: 6.25rem;
}

.section-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
  -webkit-margin-after: 3.125rem;
          margin-block-end: 3.125rem;
}

.card-list {
  display: grid;
  grid-template-columns: repeat(5, minmax(11.3125rem, 1fr));
  gap: 1.875rem;
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: #E50000 #333;
}

.card__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 17.1875rem;
          flex: 0 0 17.1875rem;
}
.card__link {
  border: 0.0625rem solid #262626;
  border-radius: 0.75rem;
  padding: clamp(0.938rem, 0.708rem + 1.15vw, 1.875rem);
  -ms-flex-preferred-size: 17.1875rem;
      flex-basis: 17.1875rem;
  background: #1a1a1a;
}
@media (any-hover: hover) {
  .card__link:hover .card__content::before {
    -webkit-transform: scaleY(0);
        -ms-transform: scaleY(0);
            transform: scaleY(0);
  }
}
.card__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.3125rem;
  position: relative;
}
.card__content::before {
  content: "";
  position: absolute;
  inset: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(26, 26, 26, 0)), color-stop(101.79%, #1A1A1A));
  background: linear-gradient(180deg, rgba(26, 26, 26, 0) 0%, #1A1A1A 101.79%);
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transform-origin: bottom;
      -ms-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.card__img {
  border-radius: 0.625rem;
  overflow: hidden;
  aspect-ratio: 105/123;
}
.card__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.card__info {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.5;
  color: #fff;
}
.card__arrow {
  width: 1.875rem;
  height: 1.875rem;
}
.header {
  background-color: #141414;
  padding-block: clamp(0.938rem, 0.83rem + 0.54vw, 1.375rem);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
}
.header__wrapper {
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template-columns: auto 1fr auto;
  gap: 1.25rem;
}
.header__logo {
  position: relative;
  z-index: 5;
  aspect-ratio: 199/60;
}
@media (max-width: 60.99875em) {
  .menu-body {
    position: fixed;
    inset-block-start: 0;
    inset-inline-start: 100%;
    inline-size: 100%;
    block-size: 100%;
    z-index: 2;
    -webkit-transition: inset-inline-start 0.3s;
    transition: inset-inline-start 0.3s;
    overflow: auto;
    padding: 6.5rem 0.9375rem 1.875rem;
    background-color: #141414;
  }
}
.menu-body::before {
  content: "";
  position: fixed;
  inset-block-start: 0;
  inset-inline-start: 100%;
  inline-size: 100%;
  block-size: 110px;
  z-index: 3;
  background-color: #141414;
  -webkit-transition: inset-inline-start 0.3s;
  transition: inset-inline-start 0.3s;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 0.375rem;
     -moz-column-gap: 0.375rem;
          column-gap: 0.375rem;
  row-gap: 0.9375rem;
  padding: 0.625rem;
  font-size: 1.125rem;
  line-height: 1.5;
  color: #bfbfbf;
}
@media (max-width: 60.99875em) {
  .menu {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    font-size: 2rem;
    gap: 1.5rem;
  }
}
@media (min-width: 60.8125em) {
  .menu {
    background-color: #0f0f0f;
    border: 4px solid #1f1f1f;
    border-radius: 12px;
    justify-self: center;
  }
}
.menu__link {
  padding-block: 0.875rem;
  padding-inline: clamp(0.875rem, 0.722rem + 0.76vw, 1.5rem);
  border: 0.0625em solid #0f0f0f;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media (max-width: 60.99875em) {
  .menu__link {
    padding: 0;
    background-color: transparent;
    border: none;
  }
}
@media (any-hover: hover) {
  .menu__link:hover {
    background-color: #1a1a1a;
    color: #fff;
    border: 0.0625em solid #0f0f0f;
    border-radius: 0.5em;
  }
}
.menu__link--active {
  background-color: #1a1a1a;
  color: #fff;
  border: 0.0625em solid #0f0f0f;
  border-radius: 0.5em;
}
@media (max-width: 60.99875em) {
  .menu__link--active {
    background-color: transparent;
    border: none;
    text-decoration: underline;
  }
}

.header-actions {
  position: relative;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-column-gap: 0.375rem;
     -moz-column-gap: 0.375rem;
          column-gap: 0.375rem;
}
@media (max-width: 26.875em) {
  .header-actions {
    -webkit-column-gap: 0.9375rem;
       -moz-column-gap: 0.9375rem;
            column-gap: 0.9375rem;
  }
}
.header-actions__link {
  background-color: transparent;
  color: #fff;
  border: 0.25em solid transparent;
  border-radius: 0.5em;
  padding: 12px;
}
@media (any-hover: hover) {
  .header-actions__link:hover {
    background-color: #1a1a1a;
    border: 4px solid #1f1f1f;
  }
}

/* mob-menu */
.button-mob {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: 3.6875rem;
      flex-basis: 3.6875rem;
  padding-inline: 0.6875rem;
  aspect-ratio: 1;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* border: 3px solid  #111b47; */
  /* border-radius: 6px; */
  /* padding: 9px */
}

.button-mob::before, .button-mob::after, .button-mob span {
  content: "";
  height: 0.125rem;
  width: 100%;
  border-radius: 0.0625rem;
  background-color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.button-mob span {
  margin-block: 0.5rem;
}
@media (max-width: 60.99875em) {
  .button-mob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.open-menu body {
  overflow: hidden;
  /* для вимкнення прокручування сторінки, 
  коли меню бургер відкрите */
}
.open-menu .menu-body, .open-menu .menu-body::before {
  inset-inline-start: 0;
}
.open-menu .icon-menu span {
  width: 0;
  height: 0;
  margin: 0;
}
.open-menu .icon-menu::before {
  -webkit-transform: rotate(45deg) translateY(1.5px);
      -ms-transform: rotate(45deg) translateY(1.5px);
          transform: rotate(45deg) translateY(1.5px);
}
.open-menu .icon-menu::after {
  -webkit-transform: rotate(-45deg) translateY(-1.5px);
      -ms-transform: rotate(-45deg) translateY(-1.5px);
          transform: rotate(-45deg) translateY(-1.5px);
}

.hero {
  padding-block: clamp(1.25rem, 0.791rem + 2.29vw, 3.125rem);
}
.hero__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 0.75rem;
  overflow: hidden;
  padding: 1.25rem clamp(0.938rem, 0.402rem + 2.68vw, 3.125rem);
  position: relative;
  background: -webkit-gradient(linear, left bottom, left top, from(#141414), to(rgba(20, 20, 20, 0))), url(../img/hero-icon.webp) center center/cover no-repeat;
  background: linear-gradient(0deg, #141414 0%, rgba(20, 20, 20, 0) 100%), url(../img/hero-icon.webp) center center/cover no-repeat;
  min-height: 0;
}
.hero__wrapper::before {
  content: "";
  display: block;
  padding-top: 52%;
}
.hero__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hero__box {
  max-width: 74.625rem;
}
.hero__title {
  text-align: center;
}
.hero__text {
  font-size: clamp(0.875rem, 0.814rem + 0.31vw, 1.125rem);
  -webkit-margin-after: 1.875rem;
          margin-block-end: 1.875rem;
}
.hero__button-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.25rem;
  -webkit-margin-after: 3.125rem;
          margin-block-end: 3.125rem;
}
@media (max-width: 47.99875em) {
  .hero__button-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.play-now {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.25rem;
  padding: 0.875rem 1.5rem;
  background-color: #e50000;
  border-radius: 0.5rem;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.53;
  color: #fff;
  position: relative;
  top: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media (max-width: 47.99875em) {
  .play-now {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}
.play-now::before {
  content: "";
  width: 1.75rem;
  height: 1.75rem;
  background: url(../img/play-arrow.svg) center center/contain no-repeat;
}
@media (any-hover: hover) {
  .play-now:hover {
    top: 0.25rem;
    -webkit-box-shadow: 0.25rem -0.25rem 1.25rem #e50000;
            box-shadow: 0.25rem -0.25rem 1.25rem #e50000;
  }
}

.button-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.625rem;
}
.button-options__link {
  padding: 0.875rem;
  border: 0.0625rem solid #262626;
  border-radius: 0.5rem;
  background: #0f0f0f;
  aspect-ratio: 28/28;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media (any-hover: hover) {
  .button-options__link:hover {
    border: 0.0625rem solid #fff;
  }
}

.button-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  gap: 1rem;
  background-color: #0f0f0f;
  border: 0.0625rem solid #1f1f1f;
  border-radius: 0.75rem;
  padding: 1rem;
}
.button-arrow--hero {
  background-color: transparent;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  border: none;
  padding: 0;
}

.arrow__wrapper {
  background-color: #1a1a1a;
  border: 0.0625rem solid #1f1f1f;
  border-radius: 0.5rem;
  padding: 0.875rem;
}
.arrow__wrapper:first-child {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.arrow__wrapper--hero {
  background-color: #0f0f0f;
}
.arrow__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.1875rem;
}
.arrow__item {
  border-radius: 6.25rem;
  width: 1rem;
  height: 0.25rem;
  background-color: #333;
}
.arrow__item--active {
  border-radius: 6.25rem;
  width: 1.4375rem;
  height: 0.25rem;
  background-color: #e50000;
}

.movies {
  padding-block: clamp(1.875rem, 0.04rem + 9.17vw, 9.375rem);
}
.movies__wrapper {
  border: 0.0625rem solid #262626;
  border-radius: 0.75rem;
  padding: clamp(0.938rem, 0.402rem + 2.68vw, 3.125rem);
  position: relative;
}
.movies__lable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.5;
  text-align: center;
  color: #fff;
  border-radius: 0.5rem;
  padding: 0.625rem 1.5rem;
  background: #e50000;
  position: absolute;
  top: 0;
  left: 3.12%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
@media (max-width: 47.99875em) {
  .movies__lable {
    display: none;
  }
}

.popular .card__img {
  aspect-ratio: 141/121;
}
.popular .card-list {
  grid-template-columns: repeat(4, minmax(14.5rem, 1fr));
}

.card__box {
  gap: 0.25rem;
}
.card__lable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 0.3125rem;
  padding: 0.625rem;
  background: #e50000;
  font-weight: 600;
  color: #fff;
}

.new .card-list, .trending .card-list {
  grid-template-columns: repeat(5, minmax(11.3125rem, 1fr));
}
.new .card__link, .trending .card__link {
  padding: 1.25rem;
  width: 100%;
  -webkit-transition: -webkit-transform 0.3s ease, -webkit-box-shadow 0.3s ease;
  transition: -webkit-transform 0.3s ease, -webkit-box-shadow 0.3s ease;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  transition: transform 0.3s ease, box-shadow 0.3s ease, -webkit-transform 0.3s ease, -webkit-box-shadow 0.3s ease;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
}
@media (any-hover: hover) {
  .new .card__link:hover, .trending .card__link:hover {
    -webkit-box-shadow: 0 0.125rem 0.25rem rgba(211, 211, 211, 0.2);
            box-shadow: 0 0.125rem 0.25rem rgba(211, 211, 211, 0.2);
    -webkit-transform: scale(0.95);
        -ms-transform: scale(0.95);
            transform: scale(0.95);
  }
}
.new .card__big-img, .trending .card__big-img {
  aspect-ratio: 243/281;
  border-radius: 0.75rem;
  overflow: hidden;
  -webkit-margin-after: 1.25rem;
          margin-block-end: 1.25rem;
}
.new .card__calendar, .trending .card__calendar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.25rem;
  border: 0.0625rem solid #262626;
  border-radius: 3.1875rem;
  padding: 0.375rem 0.625rem 0.375rem 0.375rem;
  font-weight: 500;
  color: #999;
  background: #141414;
}
@media (max-width: 92.5em) {
  .new .card__calendar, .trending .card__calendar {
    font-size: 0.75rem;
  }
}

.trending .card__time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #999;
  font-weight: 500;
}
.trending .card__time span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.25rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: 0.0625rem solid #262626;
  border-radius: 3.1875rem;
  padding: 0.375rem 0.625rem 0.375rem 0.375rem;
  background: #141414;
}
.trending .card__time span:first-child::before {
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  background: url(../img/clock.svg) center center/contain no-repeat;
}
.trending .card__time span:last-child::before {
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  background: url(../img/eye.svg) center center/contain no-repeat;
}
@media (max-width: 92.5em) {
  .trending .card__time span {
    font-size: 0.75rem;
  }
}

body {
  font-family: "Manrope", sans-serif;
  text-align: center;
  color: #fff;
  background-color: #141414;
}

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__container] {
  max-width: 101.75rem;
  margin: 0 auto;
  padding-inline: 0.9375rem;
}