@import url("reset.css");
body {
  font-family: var(--mainFontFamily);
  text-align: center;
  background-color: var(--white);
}

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__container] {
  max-width: 84.375rem;
  margin: 0 auto;
  padding-inline: 0.9375rem;
}