
.header{
    background-color: $mainBgColor;
    padding-block: clamp(0.938rem, 0.83rem + 0.54vw, 1.375rem);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;

    // .header__wrapper

    &__wrapper{
        display: grid;
        align-items: center;
        grid-template-columns: auto 1fr auto;
        gap: toRem(20);
    }

    // .header__logo

    &__logo{
        position: relative;
        z-index: 5;
        aspect-ratio: 199 / 60;
    }
    
    &__logo img{
        @extend %img-contain;
    }
}


.menu-body{
    @media (max-width: toEm(975.98)){

    position: fixed;
    inset-block-start: 0;
    inset-inline-start: 100%;
    inline-size: 100%;
    block-size: 100%;
    z-index: 2;

    transition: inset-inline-start 0.3s;
    overflow: auto;
    padding: 6.5rem 0.9375rem 1.875rem;
    background-color: $mainBgColor;
    }

    &::before{
        content: "";
        position: fixed;
        inset-block-start: 0;
        inset-inline-start: 100%;
        inline-size: 100%;
        block-size: 110px;
        z-index: 3;
        background-color: $mainBgColor;
        transition: inset-inline-start 0.3s;
    }
}



.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    column-gap: toRem(6);
    row-gap: toRem(15);
    padding: toRem(10);
    font-size: toRem(18);
    line-height: 1.5;
    color: #bfbfbf;

    @media (max-width: toEm(975.98)){
        column-gap: 1.25rem;
        flex-direction: column;
        align-items: flex-end;
        font-size: 2rem;
        gap: 1.5rem; 
    }

    @media (min-width: toEm(973)){
        background-color: $mainBlackColor;
        border: 4px solid #1f1f1f;
        border-radius: 12px;
        justify-self: center;
    }

    // .menu__link

    &__link{
        // padding: toRem(14) toRem(24);
        padding-block: toRem(14);
        padding-inline: clamp(0.875rem, 0.722rem + 0.76vw, 1.5rem);
        border: toEm(1) solid $mainBlackColor;
        transition: 0.3s;

        @media (max-width: toEm(975.98)){
            padding: 0;
            background-color: transparent;
            border: none;
            }

        @media (any-hover:hover){
            &:hover{
            background-color: $mainGrayColor;
            color: $mainTextColor;
            border: toEm(1) solid $mainBlackColor;
            border-radius: toEm(8);
            }
        }    
    }


    // .menu__link--active

    &__link--active
        {
        background-color: $mainGrayColor;
        color: $mainTextColor;
        border: toEm(1) solid $mainBlackColor;
        border-radius: toEm(8);
        
        @media (max-width: toEm(975.98)){
            background-color: transparent;
            border: none;
            text-decoration: underline;
            }
    }

    

}


.header-actions{
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: flex-end;
    column-gap: toRem(6);

    @media(max-width: toEm(430)){
        column-gap: toRem(15);
    }

    &__link{
            background-color: transparent;
            color: $mainTextColor;
            border: toEm(4) solid transparent;
            border-radius: toEm(8);
            padding: 12px;

        @media (any-hover: hover){
            &:hover{
                background-color: $mainGrayColor;
                border: 4px solid #1f1f1f;
                // padding-block: toRem(14);
                // padding-inline: clamp(0.875rem, 0.722rem + 0.76vw, 1.5rem);
            }
        }
    }
}



/* mob-menu */

.button-mob{
    flex-shrink: 0;
    flex-basis: toRem(59);
    padding-inline: toRem(11);
    aspect-ratio: 1;
    display: none;
    flex-direction: column;


    /* border: 3px solid  #111b47; */
    /* border-radius: 6px; */
    /* padding: 9px */
}



.button-mob{

    &::before,
    &::after,
    & span{
        content: "";
        height: 0.125rem;
        width: 100%;
        border-radius: 0.0625rem;
        background-color:  $mainWhiteColor;
        transition: 0.3s;
    }

    & span{
        margin-block: toRem(8);
    }

    @media (max-width: toEm(975.98)){
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


.open-menu{
    & body{
        overflow: hidden;
        /* для вимкнення прокручування сторінки, 
        коли меню бургер відкрите */
    }

    & .menu-body,
    & .menu-body::before {
	    inset-inline-start: 0;
    }

    & .icon-menu span {
        width: 0;
        height: 0;
        margin: 0;
    }

    & .icon-menu::before {
	    transform: rotate(45deg) translateY(1.5px);
    }

    & .icon-menu::after {
	    transform: rotate(-45deg) translateY(-1.5px);
    }

}

