
.movies{
    padding-block: clamp(1.875rem, 0.04rem + 9.17vw, 9.375rem);

    &__wrapper{
        border: toRem(1) solid #262626;
        border-radius: toRem(12);
        padding: clamp(0.938rem, 0.402rem + 2.68vw, 3.125rem);
        position: relative;
    }

    &__lable{
        display: flex;
        width: fit-content;
        font-weight: 600;
        font-size: toRem(20);
        line-height: 1.5;
        text-align: center;
        color: $mainTextColor;
        border-radius: toRem(8);
        padding: toRem(10) toRem(24);
        background: $mainRedColor;
        position: absolute;
        top: 0;
        left: 3.12%;
        transform: translateY(-50%);

        @media (max-width: toEm(767.98)){
            display: none;
        }
    }

}

