
.new, .trending{

    .card{

        &-list{
           grid-template-columns: repeat(5, minmax(11.3125rem, 1fr));

        }

        &__link{
            padding: toRem(20);
            width: 100%;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            transform-origin: center;

            @media (any-hover:hover){
                &:hover{
                    box-shadow: 0 0.125rem 0.25rem rgba(211, 211, 211, 0.2);
                    transform: scale(0.95);
                }
            }
        }

        &__big-img{
            aspect-ratio: 243 / 281;
            border-radius: toRem(12);
            overflow: hidden;
            margin-block-end: toRem(20);

            & img{
                @extend %img-cover;
            }
        }

        &__calendar{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: toRem(4);
                border: toRem(1) solid #262626;
                border-radius: toRem(51);
                padding: toRem(6) toRem(10) toRem(6) toRem(6);
                font-weight: 500;
                color: #999;
                background: $mainBgColor;

                @media (max-width: toEm(1480)) {
                    font-size: toRem(12);
                }
            }
    }
}


.trending{
    .card{
        

        &__time{
            display: flex;
            justify-content: space-between;
            color: #999;
            font-weight: 500;

            & span{
                display: flex;
                align-items: center;
                gap: toRem(4);
                width: fit-content;
                border: toRem(1) solid #262626;
                border-radius: toRem(51);
                padding: toRem(6) toRem(10) toRem(6) toRem(6);
                background: $mainBgColor;

                &:first-child::before{
                    content: "";
                    width: toRem(24);
                    height: toRem(24);
                    background: url(../img/clock.svg) center center / contain no-repeat;

                }

                &:last-child::before{
                    content: "";
                    width: toRem(24);
                    height: toRem(24);
                    background: url(../img/eye.svg) center center / contain no-repeat;

                }

                @media (max-width: toEm(1480)) {
                    font-size: toRem(12);
                }
            }
        }

    }
}