@use "sass:math";

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap');
@import url("reset.css");
@import "_mixins.scss";
@import "_variables.scss";
@import "_patterns.scss";
@import "_header.scss";
@import "_hero.scss";
@import "_movies.scss";
@import "_popular.scss";
@import "_new_trending.scss";






body{
  font-family: "Manrope", sans-serif;
  text-align: center;
  color: $mainTextColor;
  background-color: $mainBgColor;
}

.wrapper{
    min-height: 100%;
    overflow: clip;

    display: flex;
    flex-direction: column;

    &>main{
        flex-grow: 1;
    }
}


 [class*="__container"]{
    max-width: toRem(1628);
	margin: 0 auto;
    padding-inline: 0.9375rem;
 }




